<div class="container">

<header class="jumbotron semitrans" style="opacity: 60%; padding:32px;">
  <h1 class="display-4 text-center">Restaurants to Eat At</h1>
  <form class="create-form">
    <div class="form-group">
      <input id="restaurant" class="form-control w-50" type="text" name="name" placeholder="Add a Restaurant you want to visit"/>
      <label for="wish">Check if you have been there:   </label>
      <input type="radio" name="wish" value="1">
      <button class="btn btn-primary" type="submit">Add Restaurant</button>
      <input type="radio" name="wish" value="0" checked style="opacity:0;">
    </div>
  </form>
</header>

  <div class="row">
      {{!-- left column of restaurants we want to visit --}}
    <div class="col">
        <h2 class="center">Restaurants to Visit</h2>
        <ul>
            {{#each restaurant}}
                {{#unless beenThere}}
                <div class="card semitrans">
                <div class="card-body semitrans" style="padding:10px;">
                <h3 class="card-title">{{> list-block wish=true}}</h3>
                </div>
                </div>
                {{/unless}}
            {{/each}}
        </ul>
     </div>

    <div class="col">
        <h2 class="center">Been There - Ate That</h2>
        <ul>
            {{#each restaurant}}
                {{#if beenThere}}
                <div class="card semitrans">
                <div class="card-body semitrans" style="padding:10px;">
                <h3 class="card-title">{{> list-block wish=fase}}</h3>
                </div>
                </div>
                {{/if}}
            {{/each}}
        </ul>
    </div>
  </div>


<div class = footer></div>
</div>